<div class="card">
    <p-table #dt1 [value]="surveys" selectionMode="single" [(selection)]="selectedSurvey" dataKey="id" styleClass="p-datatable-surveyss"
        [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">שם סקר <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="questions">מספר שאלות <p-sortIcon field="questions"></p-sortIcon></th>
                <th pSortableColumn="responders">מספר משיבים <p-sortIcon field="responders"></p-sortIcon></th>
                <th pSortableColumn="retaliation">תגמול <p-sortIcon field="retaliation"></p-sortIcon></th>
                <th pSortableColumn="endDate">תאריך סיום<p-sortIcon field="endDate"></p-sortIcon></th>
                <th pSortableColumn="surveyLink">קישור לסקר <p-sortIcon field="surveyLink"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'name', 'contains')" [value]="$any(dt1.filters['name'])?.value"  placeholder="חיפוש" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'questions', 'contains')" [value]="$any(dt1.filters['questions'])?.value" placeholder="חיפוש" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'responders', 'contains')" [value]="$any(dt1.filters['responders'])?.value" placeholder="חיפוש" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'retaliation', 'contains')" [value]="$any(dt1.filters['retaliation'])?.value" placeholder="חיפוש" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'endDate', 'contains')" [value]="$any(dt1.filters['endDate'])?.value" placeholder="חיפוש" class="p-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'surveyLink', 'contains')" [value]="$any(dt1.filters['surveyLink'])?.value" placeholder="חיפוש" class="p-column-filter">
                </th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-surveys>
            <tr >
                <td >
                    <span class="p-column-title">שם סקר</span>
                    <span>{{surveys.name}}</span>
                </td>
                <td>
                    <span class="p-column-title">מספר שאלות</span>
                    <span class="image-text">{{surveys.questions}}</span>
                </td>
                <td>
                    <span class="p-column-title">מספר משיבים</span>
                    <span class="image-text">{{surveys.responders}}</span>
                </td>
                <td>
                    <span class="p-column-title">תגמול</span>
                    <span class="image-text">{{surveys.retaliation}}</span>
                </td>
                <td>
                    <span class="p-column-title">תאריך סיום</span>
                    <span class="image-text">{{surveys.endDate.toLocaleDateString()}}</span>
                </td>
                <td>
                    <span class="p-column-title">קישור לסקר</span>
                    <span class="image-text"><a href="{{surveys.surveyLink}}">{{surveys.surveyLink}}</a></span>
                </td>
              
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">לא נמצאו סקרים מתאימים</td>
            </tr>
        </ng-template>
    </p-table>
</div>
